h1{color: black}
h1{
    background-color:crimson;
    padding:10px;
    border:10px solid black;
}
h2{color:blue}
</style>
<p><span style=float:right>
  <b> Date:19-10-2022 <br>
   Place:Chennai </span>
</p>